In [5]:
train_df = pd.read_csv(train_data)
test_df = pd.read_csv(test_data)
X_train = train_df.drop(columns='Class')
y_train = train_df[['Class']]
X_test = test_df.drop(columns='Class')
y_test = test_df[['Class']]

In [4]:
train_data = 'data/processed/train_data.csv'
test_data ='data/processed/test_data.csv'

In [2]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

In [15]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
model_score = pd.DataFrame(mean(cross_val_score(model, X_test, y_test, cv=10)))

In [16]:
model_score.columns=['test_score']

In [17]:
model_score['train_score'] = mean(cross_val_score(model, X_train, y_train, cv=10))

In [19]:
model_score

   test_score  train_score
0    0.533333     0.700000
1    0.600000     0.683333
2    0.666667     0.766667
3    0.733333     0.666667
4    0.733333     0.650000
5    0.533333     0.633333
6    0.533333     0.716667
7    0.600000     0.683333
8    0.733333     0.644068
9    0.666667     0.728814