In [2]:
import pandas as pd

In [9]:
media_df = pd.read_csv('https://raw.githubusercontent.com/shivang98/Social-Network-ads-Boost/master/Social_Network_Ads.csv',index_col=0)

In [22]:
media_df.isna().any()

Gender             False
Age                False
EstimatedSalary    False
Purchased          False
dtype: bool

We can see that there is no missing values in our dataset.

In [27]:
print(media_df.shape)
print(media_df.columns)

(400, 4)
Index(['Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

It has four columns, one of which is our target: Purchased, a binary variable with 0 being not purchased and 1 being purchased. In the three features, one is Gender which are strings and the other two are floats.

In [11]:
#general summary for all data
media_df.describe()

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    37.655000     69742.500000    0.357500
std     10.482877     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     29.750000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max     60.000000    150000.000000    1.000000

We can see that the mean purchased in 0.35 which is different from purchasing by chance of 0.5. This indicate that our research question is meaning and it is worth investigating how those three factors affect the purchasing behavior.

In [18]:
#Summary for negative class, which is not purhcased
media_df[media_df['Purchased']==0].describe()

              Age  EstimatedSalary  Purchased
count  257.000000       257.000000      257.0
mean    32.793774     60544.747082        0.0
std      7.985844     24351.570102        0.0
min     18.000000     15000.000000        0.0
25%     26.000000     44000.000000        0.0
50%     34.000000     61000.000000        0.0
75%     38.000000     77000.000000        0.0
max     59.000000    141000.000000        0.0

In [28]:
#Summary for negative class, which is not purhcased
media_df[media_df['Purchased']==1].describe()

              Age  EstimatedSalary  Purchased
count  143.000000       143.000000      143.0
mean    46.391608     86272.727273        1.0
std      8.612172     42064.200064        0.0
min     27.000000     20000.000000        1.0
25%     39.500000     41000.000000        1.0
50%     47.000000     90000.000000        1.0
75%     53.000000    122500.000000        1.0
max     60.000000    150000.000000        1.0

Comparing the summary for purchased vs not purchased class, we can see that the mean age and mean estimated salary are higher for purchased class.