In [25]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.utils import resample
from sklearn.model_selection import GridSearchCV

In [13]:
blood_df = pd.read_csv('data/processed/train_data.csv')
blood_df.head()

   Unnamed: 0  since_last_don  total_dons  total_blood  since_first_don  Class
0         239               8           9         2250               58      1
1         269              13           4         1000               21      1
2         151               4           6         1500               39      1
3         245               4           5         1250               46      1
4          59               3           6         1500               21      1

In [17]:
data = pd.read_csv('transfusion.txt', sep= ",")
data.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [18]:
data[data['whether he/she donated blood in March 2007']==1].describe()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
count,178.000000,178.000000,178.000000,178.000000,178.0
mean,5.455056,7.797753,1949.438202,32.719101,1.0
std,5.170615,8.036892,2009.223005,23.629431,0.0
min,0.000000,1.000000,250.000000,2.000000,1.0
25%,2.000000,3.000000,750.000000,15.250000,1.0
50%,4.000000,6.000000,1500.000000,28.000000,1.0
75%,4.750000,9.000000,2250.000000,44.500000,1.0
max,26.000000,50.000000,12500.000000,98.000000,1.0

In [19]:
data[data['whether he/she donated blood in March 2007']==0].describe()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
count,570.000000,570.000000,570.000000,570.000000,570.0
mean,10.771930,4.801754,1200.438596,34.770175,0.0
std,8.425039,4.746768,1186.692017,24.605388,0.0
min,0.000000,1.000000,250.000000,2.000000,0.0
25%,4.000000,2.000000,500.000000,16.000000,0.0
50%,11.000000,3.000000,750.000000,28.000000,0.0
75%,16.000000,6.000000,1500.000000,52.000000,0.0
max,74.000000,44.000000,11000.000000,98.000000,0.0

In [63]:
train_df = pd.read_csv('data/processed/train_data.csv')

#resample due to unbalanced data set more people not donate
donate = train_df[train_df.Class == 2]
not_donate = train_df[train_df.Class == 1]
not_resample = resample(not_donate, replace = False, n_samples=len(donate), random_state= 100)
train_df = pd.concat([donate,not_resample])
X = train_df.drop(columns='Class')
y = train_df[['Class']]
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state = 123)
    

#fit and predict using decision tree classifer
model = DecisionTreeClassifier()
param_grid = {'max_depth': list(range(2,15))}
CV = GridSearchCV(model, param_grid, cv = 10, refit=True)          
CV.fit(X_train, y_train)
d = {'Best_max_depth':[CV.best_params_['max_depth']], 
     'Best_CV_Score':[CV.best_score_], 
     'Training_Error':[1 - CV.score(X_train, y_train)], 
     'Validation_Error':[1 - CV.score(X_valid, y_valid)]}
model_score = pd.DataFrame(d)

C:\Users\Evely\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)